# ===== IDE =====
.idea/
.sonarlint/
.vscode/
*.iml
*.ipr
*.iws

# ===== Java / Maven =====
**/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# ===== Logs =====
logs/
**/*.log

# ===== Sonar / JaCoCo (générés) =====
**/sonar/
**/jacoco.exec

# ===== Node / Angular =====
frontend-assurance/node_modules/
frontend-assurance/dist/
frontend-assurance/.angular/
frontend-assurance/.cache/

# ===== Environnements locaux =====
.env
*.env
.env.*
*.local

# ===== NetBeans / STS divers =====
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
**/build/

# ===== OS =====
.DS_Store
Thumbs.db
